/* You can add global styles to this file, and also import other style files */

@import 'ng-zorro-antd/ng-zorro-antd.dark.min.css'; // Import ng-zorro dark theme

// Cosmic Dark Theme Variables
$cosmic-dark-background: #10111F;
$cosmic-dark-surface: #1A1B2E;
$cosmic-dark-text: #E0E0E0;
$cosmic-primary-accent: #7F5AF0;
$cosmic-secondary-accent: #00A9FF;

html, body { 
    height: 100%;
    background-color: $cosmic-dark-background;
    color: $cosmic-dark-text;
}
app-root{
    display: block;
    height: 100%;
}

app-auth , app-login{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


body { 
    margin: 0;
    font-family: Roboto,"Helvetica Neue", sans-serif;
}
